<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <div class="app__navbar">
        <div class="app__navbar-left">
            <h2 class="headText app__navbar-heading"><a href="index.html">Scan Genius</a></h2>
        </div>
        <div class="app__navbar-right">
            <ul class="navbar-list">
                <li class="navbar-list-items"><a href="../static/try.html">Try</a></li>
                <li class="navbar-list-items"><a href="../static/about.html">About</a></li>
                <li class="navbar-list-items"><a href="../static/result.html">Resource</a></li>
            </ul>
        </div>
    </div>
    <div class="app__center">
        <div class="app__center-left">
            <h1 class=" headText center-head">X-Ray Analysis Made Simple!</h1>
            <p class="text__center">Get analysis of your X-ray in three steps:</p>
            <ol class="center-list">
                <li class="text__center">Upload the Image of your X-Ray.</li>
                <li class="text__center">Select the body part.</li>
                <li class="text__center">Get the Analysis.</li>
            </ol>

            <button type="submit" class="btn"><a href="#">Try Now</a></button>
        </div>
        
        <div class="app__center-right">
            <img src="../static/Images/Radiography-bro.svg" alt="radiology" srcset="">
        </div>
    </div>
</body>
</html>